.el-dialog__body {
    padding: 0;
}

.le-main {
    .le-menu {
        width: 122px;
        display: block;
    }

    .le-menu__item:hover {
        background: #ffffff;
    }

    .le-menu__item:focus {
        background: #ffffff;
    }

    .le-menu__item {
        width: 70px;
        text-align: center;
        padding: 0 !important;
    }

    #promote {
        margin: 0 16px 0 32px;
    }

    .he-poster {
        width: 750px;
        height: 1044px;
        background-color: #f3f5f7;
        position: relative;
        zoom: 0.32;
    }

    .he-poster__body {
        width: 686px;
        height: 1006px;
        background: #FFFFFF;
        border-radius: 50px;
        position: absolute;
        margin: 19px 32px;

        .he-poster__icon {
            width: 686px;
            height: 686px;
            border-radius: 50px;
            top: 0;
        }

        .he-poster__info {
            margin-top: 30px;
            width: 686px;
            height: 270px;
            display: flex;
            padding: 0 20px;

            .he-info__left {
                display: inline-block;
                width: 420px;

                .he-poster__price {
                    color: red;
                    font-size: 50px;
                    font-weight: bolder;
                }

                .he-poster__line__price {
                    font-size: 25px;
                    text-decoration: line-through;
                }

                .he-poster__name {
                    font-size: 30px;
                    color: #000000;
                    opacity: 0.85;
                    margin: 0 0 0 0;
                }

                .he-poster__shop {
                    bottom: 30px;
                    position: absolute;
                    display: flex;

                    .he-poster__shop__logo {
                        display: inline-block;
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        margin-right: 20px;
                    }

                    .he-poster__shop__name {
                        height: 70px;
                        line-height: 70px;
                        display: inline-block;
                        font-size: 30px;
                    }
                }
            }

            .he-info__right {
                display: inline-block;
                width: 270px;
                text-align: center;

                .he-poster__QRCode {
                    width: 180px;
                    height: 180px;
                }

                .he-poster__sign {
                    font-size: 22px;
                    font-weight: 500;
                    color: #000000;
                    opacity: 0.45;
                }
            }
        }
    }

    .le-poster__btn {
        width: 96px;
        height: 32px;
        background: #FFFFFF;
        border: 1px solid #623CEB;
        border-radius: 4px;
        font-size: 12px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #623CEB;
        padding: 0 !important;
    }

    .le-applets__btn {
        width: 128px;
        height: 32px;
        background: #FFFFFF;
        border: 1px solid #623CEB;
        border-radius: 4px;
        font-size: 12px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #623CEB;
        padding: 0 !important;
    }

    .le-url {
        width: 302px;
        margin: 16px 0;

        /deep/ .el-input-group__append {
            width: 60px;
            padding: 0;
            background: #623CEB;
            font-size: 14px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            text-align: center;

            .el-button {
                padding: 0;
                margin: 0;
            }
        }
    }
}
