/**
 * 内容名称
 *
 *
 * ==================================================*/

//类前缀
$prefix:le;

/**
 * 内容主体
 * 1.框架内容中心样式集合
 * 2.所有的内部元素必须遵守样式规范
 * ==================================================*/
.#{$prefix}-main::-webkit-scrollbar {
    display: none;
}



.#{$prefix}-main,
.he-dialog {
    padding: 0px;
    margin: 0px;
  .el-table th.is-leaf {
    background: #F5F7FA;
  }
    .el-dialog__title {
        width: 58px;
        height: 20px;
        font-size: 20px;
        font-weight: 400;
        color: #262626;
        line-height: 20px;
    }

    /**
     * input输入框默认长度
     * ==================================================*/
    .el-input {
        width: 280px;
    }

    .el-input--mini {
        .el-input__inner {
            height: 32px;
            line-height: 32px;
            padding-left: 12px;
        }
    }

    .el-textarea {
        width: 500px;
    }

    .el-button+.el-button {
        margin-left: 8px;
    }

    .el-form-radio-group {
        padding-top: 8px;
        margin: 0;
    }

    .el-radio__label {
        font-size: 14px;
        padding-left: 8px;
    }

    /**
     * button表单样式规范
     * ==================================================*/
    .el-button--mini {
        padding: 9px 24px;
        font-size: 12px;
        border-radius: 4px;
        font-weight: 400;
    }

    /**
     * form表单样式规范
     * ==================================================*/
    .el-form-item--mini {
        &.el-form-item {
            margin-bottom: 24px;
        }

        .el-form-item__label {
            line-height: 32px;
        }

        .el-form-item__content {
            line-height: 32px;
            color: #8c8c8c;
            font-size: 14px;
        }

    }


    .el-form-item__label {
        color: #262626;
    }

    /**
     * Card内容显示栏目
     * ==================================================*/
    .#{$prefix}-card {
        border-radius: 16px;
    }


    /**
     * 图片上传组件
     * ==================================================*/
    .#{$prefix}-upload {
        &-content {}

        &__container {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        &-item {
            width: 120px;
            height: 120px;
            border: 1px dashed #ebeef5;
            border-radius: 4px;
            float: left;
            margin-right: 8px;
            position: relative;
            overflow: hidden;

            &__image {
                width: 120px;
                height: 120px;
                position: absolute;
                left: 0;
                top: 0;
                border: 0;
            }
        }
    }


    /**
     * Card内容显示栏目
     * ==================================================*/
    .#{$prefix}-tabs {
        .el-tabs__header {
            border-bottom: none !important;
            margin: 0 !important;

            .el-tabs__nav {
                border: none !important;
                border-bottom: none;
                box-sizing: border-box;
                position: relative;
            }

            .el-tabs__item {
                border-bottom: none !important;
                border-left: none !important;
                height: 60px;
                color: rgba(0, 0, 0, 0.45%);

                &.is-active {
                    border-bottom-color: #fff;
                    border-radius: 16px 16px 0 0;
                    background-color: #ffffff;
                    color: #623ceb;
                }

                &:first-child {
                    border-left: none;
                }
            }
        }

        .el-tabs__content {
            background-color: #ffffff;
            border-radius: 16px;
            padding: 20px;
            position: relative;
            margin-top: -20px;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        }
    }

    /**
     * 卡片图钉
     * ==================================================*/
    .#{$prefix}-cardpin {
        position: fixed;
        height: 50px;
        margin: 0 -21px;
        bottom: 0;
        width: calc(100% - 96px);
        background: #fff;
        z-index: 100;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }


    /**
     * 弹窗样式设定
     * ==================================================*/
    .#{$prefix}-dialog {
        .el-dialog__headerbtn {
            right: -22px;
            top: -4px;

            .el-dialog__close {
                color: #fff;
                font-size: 18px;
                font-weight: 800;
            }
        }

        .el-dialog__header {
            text-align: center;
        }

        .el-dialog__footer {
            text-align: center;
        }

        .el-dialog {
            position: relative;
            background-color: #fff;
            border: 1px solid #999;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 6px;
            background-clip: padding-box;
            outline: 0;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        }

        .el-dialog__body {
            padding: 0;
            color: #606266;
            font-size: 14px;
            word-break: break-all;
        }
    }

    /**
     * 步骤条
     * ==================================================*/
    .#{$prefix}-arrow {
        width: 100%;
        height: 42px;
        position: relative;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                position: relative;
                float: left;
                width: 50%;
                height: 42px;
                background-color: #FFFF;

                .center {
                    width: 30%;
                    height: 42px;
                    line-height: 42px;
                    margin: 0 auto;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    margin-left: -15%;
                }

                &:not(:last-child) {
                    &::before {
                        content: "";
                        position: absolute;
                        top: -5px;
                        right: -50px;
                        width: 0;
                        height: 0;
                        border: 26px solid #f3f5f7;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -40px;
                        width: 0;
                        height: 0;
                        border: 21px solid #FFFF;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                    }
                }

                &.active {
                    background-color: #623ceb;
                    color: #fff;

                    &:not(:last-child)::after {
                        border-left-color: #623ceb;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }

    /**
     * 信息提示样式
     * ==================================================*/
    .#{$prefix}-tips {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.45%);
        margin: 0;
        padding: 8px 8px 8px 22px;
    }

    /**
     * 分栏卡片设置
     * ==================================================*/
    .#{$prefix}-subfield {
        .el-card__header {
            padding: 14.5px 16px;
            border-bottom: 1px solid #EBEEF5;
            box-sizing: border-box;
            background-color: #f3f5f7;
        }

        &.is-always-shadow {
            box-shadow: none !important;
        }

        &.is-hover-shadow {

            &:focus,
            &:hover {
                box-shadow: none !important;
            }
        }

        .el-card__body {
            padding: 10px;

            ul {
                list-style-type: none;
                text-align: left;
                padding: 0;
                margin: 0;

                li {
                    height: 30px;
                    line-height: 30px;
                }

                .he-gallery-card-action {
                    float: right;
                    color: #4ba0ff;
                }
            }
        }
    }

    .el-input-group__prepend div.el-select .el-input__inner {
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #010101;
        opacity: 0.85;
    }
}

/**
 * 分割线
 */
.#{$prefix}-line {
    height: 20px;
}

.#{$prefix}-break {
    word-break: break-all;
    height: 10px;

}

/*<-----内容主体-结束----->*/

/**
 * 内容头部
 *
 *
 * ==================================================*/
.#{$prefix}-header {
    padding: 0px;
    margin: 0px;
}



/**
 * 内容底部
 *
 * ==================================================*/
.#{$prefix}-footer {
    padding: 0px;
    margin: 0px;
}

.el-popover {
    min-width: 0;
}

.le-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.el-popover--plain {
    padding: 18px 15px
}

.el-button.el-button--default.el-button--mini.is-plain {
    border: 1px solid #623CEB;
    border-radius: 4px;
    font-weight: 400;
    color: #623CEB;
    font-size: 14px;
    padding: 8px 24px;
}