body {
    margin: 0;
    padding: 0;
    color: #595961;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
        Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-variant: tabular-nums;
    line-height: 1.5;
    background-color: #fff;
    -webkit-font-feature-settings: "tnum", "tnum";
    font-feature-settings: "tnum", "tnum";
    font-weight: 400;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.le-clear {
    clear: both;
}

.le-icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.le-inline-block {
    display: inline-block;
}

.le-line {
    height: 20px;
}

a:link {
    /* 指正常的未被访问过的链接*/
    text-decoration: none;
}

a:visited {
    /*指已经访问过的链接*/
    text-decoration: none;
}

a:hover {
    /*指鼠标在链接*/
    text-decoration: none;
}

a:active {
    /* 指正在点的链接*/
    text-decoration: none;
}

.le-matter {
    padding: 0;

    .le-columns-title {
        width: 100%;
        height: 48px;
        background: rgba(98, 60, 235, 0.05);
        border-radius: 4px;
        line-height: 48px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #623ceb;
        opacity: 0.85;
        margin-bottom: 20px;
    }

    .le-matter-radio {
        display: inline-block;
        font-size: 14px;
        height: 100%;

        .le-matter-radio-tick {
            display: none;
            position: absolute;
            top: 2px;
            height: 18px;
            width: 18px;
            left: -6px;
            z-index: 3;

            .le-icon {
                font-size: 8px;
                color: #7d62ee;
            }
        }

        input[type=radio] {
            position: absolute;
            left: -9999em;

            &:checked+.le-matter-radio-tick {
                display: block;
            }
        }
    }

    .le-gallery-card-tools {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .le-dialog-transfer {
        padding: 20px 20px 10px;
    }

    .le-dialog-transfer-row {
        margin-top: 20px;
    }

    .le-dialog-transfer-subfield {
        padding: 10px;
        border: 1px solid #ebeef5;

        .el-scrollbar__wrap {
            overflow-x: hidden;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            padding-top: 10px;

            span {
                font-size: 12px;
            }

            li {
                padding-left: 15px;
                line-height: 30px;
                font-size: 12px;
                height: 30px;
                position: relative;

                .le-icon {
                    position: absolute;
                    right: 0;
                    top: 8px;
                    font-size: 12px;
                }
            }
        }
    }

    .le-gallery-header {

        font-size: 16px;
        font-weight: 500;
        color: #000000;
        line-height: 44px;
    }

    .le-gallery-main {
        padding: 0 20px;
    }

    .le-gallery-content {
        border: 1px solid #ebeef5;
        border-radius: 3px;
        padding: 10px;

        .le-gallery-allcheck {
            margin: 0 10px;

            .el-checkbox__label {
                font-size: 12px;
                font-weight: 400;
            }
        }

        .le-gallery-default {
            text-align: center;
            font-size: 14px;
            color: #ccc;

            .le-icon {
                font-size: 130px;
                color: #eee;
            }
        }

        .le-gallery__wrapper {
            margin-top: 10px;
            padding: 0;
            list-style-type: none;
            clear: both;

            li {
                display: block;
                width: 121px;
                float: left;
                text-align: center;

                .le-matter-group-icon {
                    position: relative;
                    height: 85px;
                    width: 85px;
                    margin: 5px 8px;
                    z-index: 2;

                    .le-icon {
                        font-size: 60px;
                    }
                }

                .le-matter-titile {
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    text-align: center;
                }

                .le-matter-checkbox {
                    text-align: center;
                    display: block;
                    padding: 5px 8px;
                    border: 1px solid #fff;
                    border-radius: 3px;
                    position: relative;

                    &:hover {
                        border: 1px solid #623ceb;
                        background-color: #f7f5fe;
                    }

                    img {
                        position: relative;
                        height: 85px;
                        width: 85px;
                        margin: 5px 8px;
                        z-index: 2;
                        padding: 0;
                    }

                    span {
                        display: block;
                        margin: 0;
                        padding: 0;
                        position: relative;
                        z-index: 2;
                    }

                    .le-matter-tick {
                        display: none;
                        position: absolute;
                        left: 6px;
                        top: 6px;
                        height: 18px;
                        width: 18px;
                        line-height: 18px;
                        background-color: #623ceb;
                        border-radius: 9px;
                        z-index: 3;
                        padding-top: 2px;

                        .le-icon {
                            font-size: 10px;
                            color: #fff;
                        }
                    }

                    input[type=checkbox] {
                        position: absolute;
                        left: -9999em;

                        &:checked+ {

                            .le-matter-tick,
                            .le-matter-mark {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .le-gallery-page {
            margin-top: 10px;
            height: 32px;
            text-align: right;
        }
    }

    .le-gallery-card {
        .el-card__header {
            background-color: #f3f5f7;
            height: 50px;
        }

        .el-card__body {
            padding: 10px;

            ul {
                list-style-type: none;
                text-align: left;
                padding: 0;
                margin: 0;

                li {
                    height: 30px;
                    line-height: 30px;
                }

                .le-gallery-card-action {
                    float: right;
                    color: #4ba0ff;
                }
            }
        }
    }

    .le-columns-table {
        border: 1px solid #dcdfe6;
        border-radius: 4px;
    }

    .el-row {
        margin-bottom: 0 !important;
    }

    .le-tabpane-pagination {
        position: absolute;
        right: 0;
        top: 8px;
    }

    .le-tabpane-checkbox {
        margin-right: 14px;

        .el-checkbox__label {
            font-size: 12px;
            font-weight: 400;
        }
    }

    .el-table th>.cell {
        padding-left: 14px !important;
    }

    .el-table--enable-row-hover .el-table__body tr:hover>td {
        background-color: rgba(98, 60, 225, 0.05) !important;
    }

    >.el-card {
        border-radius: 16px;
    }

    .el-tabs--card> {
        .el-tabs__header {
            border-bottom: none !important;
            margin: 0 !important;

            .el-tabs__nav {
                border: none !important;
                border-bottom: none;
                box-sizing: border-box;
                position: relative;
            }

            .el-tabs__item {
                border-bottom: none !important;
                border-left: none !important;
                height: 60px;

                &.is-active {
                    border-bottom-color: #fff;
                    border-radius: 16px 16px 0 0;
                    background-color: #ffffff;
                }

                &:first-child {
                    border-left: none;
                }
            }
        }

        .el-tabs__content {
            background-color: #ffffff;
            border-radius: 16px;
            padding: 20px;
            position: relative;
            margin-top: -20px;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        }
    }

    .le-steps--simple {
        padding: 13px 0 !important;
    }

    .le-matter-pagination {
        position: fixed;
        height: 50px;
        margin: 0 -21px;
        bottom: 0;
        width: calc(4%);
        background: #fff;
        z-index: 100;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .le-arrow {
        width: 100%;
        height: 42px;
        position: relative;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                position: relative;
                float: left;
                width: 50%;
                height: 42px;
                background-color: #FFFF;

                .center {
                    width: 30%;
                    height: 42px;
                    line-height: 42px;
                    margin: 0 auto;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    margin-left: -15%;
                }

                &:not(:last-child) {
                    &::before {
                        content: "";
                        position: absolute;
                        top: -5px;
                        right: -50px;
                        width: 0;
                        height: 0;
                        border: 26px solid #f3f5f7;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -40px;
                        width: 0;
                        height: 0;
                        border: 21px solid #FFFF;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                    }
                }

                &.active {
                    background-color: #623ceb;
                    color: #fff;

                    &:not(:last-child)::after {
                        border-left-color: #623ceb;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }

    .le-dialog-transfer-subfield ul li {

        &.active,
        &:hover {
            color: #7d62ee;
        }
    }

    .le-gallery-card {
        &.is-always-shadow {
            box-shadow: none !important;
        }

        &.is-hover-shadow {

            &:focus,
            &:hover {
                box-shadow: none !important;
            }
        }
    }

    .le-tabpane-header,
    .le-tabpane-footer {
        padding: 12px 0 12px 14px;
        position: relative;
    }

    .el-table thead {

        tr,
        th {
            height: 48px;

        }
    }
}

.el-dialog {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 16px;
    background-clip: padding-box;
    outline: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);

    .el-dialog__body {
        padding: 0 40px;
        padding-bottom: 22px;
        color: #606266;
        font-size: 14px;
        word-break: break-all;

    }

    .el-dialog__headerbtn {
        right: -32px;
        top: -4px;

        .el-dialog__close {
            color: #fff;
            font-size: 20px;
            font-weight: 800;
        }
    }

    .el-dialog__header {
        text-align: center;
        padding: 40px 0 32px 0;

        .el-dialog__title {
            font-size: 20px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #000000;
            line-height: 20px;
            opacity: 0.85;
        }
    }

    .el-dialog__footer {
        text-align: center;

        .el-button+.el-button {
            margin-left: 16px;
        }
    }
}

/*  -- flex弹性布局 -- */

.flex {
    display: flex;
}

.basis-xs {
    flex-basis: 20%;
}

.basis-sm {
    flex-basis: 40%;
}

.basis-df {
    flex-basis: 50%;
}

.basis-lg {
    flex-basis: 60%;
}

.basis-xl {
    flex-basis: 80%;
}

.flex-sub {
    flex: 1;
}

.flex-twice {
    flex: 2;
}

.flex-treble {
    flex: 3;
}

.flex-direction {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.self-start {
    align-self: flex-start;
}

.self-center {
    align-self: flex-center;
}

.self-end {
    align-self: flex-end;
}

.self-stretch {
    align-self: stretch;
}

.align-stretch {
    align-items: stretch;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.el-message-box {

    min-width: 320px;
    max-width: 520px;
    width: auto;
    background: #FFFFFF;
    border-radius: 16px;
    overflow: visible;

    .el-message-box__content {
        font-size: 16px;
    }

    .el-message-box__headerbtn {
        right: -37px;
        top: -6px;
        width: 30px;
        height: 30px;

        .el-message-box__close {
            font-size: 20px;
            color: #FFFFFF;
            font-weight: 800;
        }
    }

    .el-message-box__header {
        padding-top: 16px;

        .el-message-box__title {
            display: none;
        }
    }

    .el-message-box__btns {
        margin-top: 12px;

        .el-button+.el-button {
            margin-left: 16px;
        }
    }
}

/**
 * 内容主体
 * 1.框架内容中心样式集合
 * 2.所有的内部元素必须遵守样式规范
 * ==================================================*/
.le-main::-webkit-scrollbar {
    display: none;
}



.le-main,
.he-dialog {
    padding: 0px;
    margin: 0px;

    .el-dialog__title {
        width: 58px;
        height: 20px;
        font-size: 20px;
        font-weight: 400;
        color: #262626;
        line-height: 20px;
    }

    /**
     * input输入框默认长度
     * ==================================================*/
    .el-input {
        width: 280px;
    }

    .el-input--mini {
        .el-input__inner {
            height: 32px;
            line-height: 32px;
            padding-left: 12px;
        }
    }

    .el-textarea {
        width: 500px;
    }

    .el-button+.el-button {
        margin-left: 8px;
    }

    .el-form-radio-group {
        padding-top: 8px;
        margin: 0;
    }

    .el-radio__label {
        font-size: 14px;
        padding-left: 8px;
    }

    /**
     * button表单样式规范
     * ==================================================*/
    .el-button--mini {
        padding: 9px 24px;
        font-size: 12px;
        border-radius: 4px;
        font-weight: 400;
    }

    /**
     * form表单样式规范
     * ==================================================*/
    .el-form-item--mini {
        &.el-form-item {
            margin-bottom: 24px;
        }

        .el-form-item__label {
            line-height: 32px;
        }

        .el-form-item__content {
            line-height: 32px;
            color: #8c8c8c;
            font-size: 14px;
        }

    }


    .el-form-item__label {
        color: #262626;
    }

    /**
     * Card内容显示栏目
     * ==================================================*/
    .le-card {
        border-radius: 16px;
    }


    /**
     * 图片上传组件
     * ==================================================*/
    .le-upload {
        &-content {}

        &__container {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        &-item {
            width: 120px;
            height: 120px;
            border: 1px dashed #ebeef5;
            border-radius: 4px;
            float: left;
            margin-right: 8px;
            position: relative;
            overflow: hidden;

            &__image {
                width: 120px;
                height: 120px;
                position: absolute;
                left: 0;
                top: 0;
                border: 0;
            }
        }
    }


    /**
     * Card内容显示栏目
     * ==================================================*/
    .le-tabs {
        .el-tabs__header {
            border-bottom: none !important;
            margin: 0 !important;

            .el-tabs__nav {
                border: none !important;
                border-bottom: none;
                box-sizing: border-box;
                position: relative;
            }

            .el-tabs__item {
                border-bottom: none !important;
                border-left: none !important;
                height: 60px;
                color: rgba(0, 0, 0, 0.45%);

                &.is-active {
                    border-bottom-color: #fff;
                    border-radius: 16px 16px 0 0;
                    background-color: #ffffff;
                    color: #623ceb;
                }

                &:first-child {
                    border-left: none;
                }
            }
        }

        .el-tabs__content {
            background-color: #ffffff;
            border-radius: 16px;
            padding: 20px;
            position: relative;
            margin-top: -20px;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        }
    }

    /**
     * 卡片图钉
     * ==================================================*/
    .le-cardpin {
        position: fixed;
        height: 50px;
        margin: 0 -21px;
        bottom: 0;
        width: calc(100% - 96px);
        background: #fff;
        z-index: 100;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }


    /**
     * 弹窗样式设定
     * ==================================================*/
    .le-dialog {
        .el-dialog__headerbtn {
            right: -22px;
            top: -4px;

            .el-dialog__close {
                color: #fff;
                font-size: 18px;
                font-weight: 800;
            }
        }

        .el-dialog__header {
            text-align: center;
        }

        .el-dialog__footer {
            text-align: center;
        }

        .el-dialog {
            position: relative;
            background-color: #fff;
            border: 1px solid #999;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 6px;
            background-clip: padding-box;
            outline: 0;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        }

        .el-dialog__body {
            padding: 0;
            color: #606266;
            font-size: 14px;
            word-break: break-all;
        }
    }

    /**
     * 步骤条
     * ==================================================*/
    .le-arrow {
        width: 100%;
        height: 42px;
        position: relative;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                position: relative;
                float: left;
                width: 50%;
                height: 42px;
                background-color: #FFFF;

                .center {
                    width: 30%;
                    height: 42px;
                    line-height: 42px;
                    margin: 0 auto;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    margin-left: -15%;
                }

                &:not(:last-child) {
                    &::before {
                        content: "";
                        position: absolute;
                        top: -5px;
                        right: -50px;
                        width: 0;
                        height: 0;
                        border: 26px solid #f3f5f7;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -40px;
                        width: 0;
                        height: 0;
                        border: 21px solid #FFFF;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                    }
                }

                &.active {
                    background-color: #623ceb;
                    color: #fff;

                    &:not(:last-child)::after {
                        border-left-color: #623ceb;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }

    /**
     * 信息提示样式
     * ==================================================*/
    .le-tips {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.45%);
        margin: 0;
        padding: 8px 8px 8px 22px;
    }

    /**
     * 分栏卡片设置
     * ==================================================*/
    .le-subfield {
        .el-card__header {
            padding: 14.5px 16px;
            border-bottom: 1px solid #EBEEF5;
            box-sizing: border-box;
            background-color: #f3f5f7;
        }

        &.is-always-shadow {
            box-shadow: none !important;
        }

        &.is-hover-shadow {

            &:focus,
            &:hover {
                box-shadow: none !important;
            }
        }

        .el-card__body {
            padding: 10px;

            ul {
                list-style-type: none;
                text-align: left;
                padding: 0;
                margin: 0;

                li {
                    height: 30px;
                    line-height: 30px;
                }

                .he-gallery-card-action {
                    float: right;
                    color: #4ba0ff;
                }
            }
        }
    }

    .el-input-group__prepend div.el-select .el-input__inner {
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #010101;
        opacity: 0.85;
    }
}

/**
 * 分割线
 */
.le-line {
    height: 20px;
}

.le-break {
    word-break: break-all;
    height: 10px;

}

/*<-----内容主体-结束----->*/

/**
 * 内容头部
 *
 *
 * ==================================================*/
.le-header {
    padding: 0px;
    margin: 0px;
}



/**
 * 内容底部
 *
 *
 * ==================================================*/
.le-footer {
    padding: 0px;
    margin: 0px;
}

.el-popover {
    min-width: 0;
}

.le-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.el-popover--plain {
    padding: 18px 15px
}

.el-button.el-button--default.el-button--mini.is-plain {
    border: 1px solid #623CEB;
    border-radius: 4px;
    font-weight: 400;
    color: #623CEB;
    font-size: 14px;
    padding: 8px 24px;
}