.layout-page {
    /deep/ .el-card {
        min-height: 388px;
        background: #FFFFFF;
        border-radius: 16px;

        .el-card__header {
            padding: 24px 0 12px 20px;
            border-bottom: 0 !important;
        }

        .el-card__body {
            padding: 4px 20px 20px 20px;
        }

        .layout-table-tag {
            display: inline-block;
            text-align: center;
            line-height: 28px;
            font-size: 14px;
            width: 59px;
            height: 28px;
            background: #FFF7E7;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 400;
            color: #FBAD15;
        }

        .layout-table-link {
            display: inline-block;
            margin: 0 5px;
        }

        .layout-table-line {
            color: #623CEB;
        }

        .layout-table-paging {
            width: 100%;
            padding: 24px;
            text-align: right;
            box-sizing: border-box;
        }
    }
}