.classify-select {
    width: 100%;
    background: #F3F5F7;
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;
    padding-right: 0;
    margin-bottom: 8px;


    .classify-select-tips {
        padding-left: 8px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
    }

    .el-form-item {
        .el-input {
            width: 64px;
        }

        .el-button {
            font-size: 14px;
            font-weight: 400;
            color: #623CEB;
            margin-left: 8px;
        }
    }
}

.classify-select__detail {

    .classify-select-tips {
        padding-left: 8px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
    }

    .classify-select__header {
        width: 50%;
        margin-bottom: 16px;

    }

    .classify-select__content {
        width: 721px;
        height: 231px;
        background: #FFFFFF;
        border: 1px solid #DCDFE6;
        border-radius: 4px;
        display: flex;
    }

    /deep/ .el-scrollbar__wrap {
        overflow-x: hidden;
    }

    .classify-select__list {
        flex: 1;
        height: 100%;
        width: 240px;
        box-sizing: border-box;
        border-right: 1px solid #DCDFE6;
        padding: 16px 0;

        .el-input--small {
            margin: 0 16px;
            width: 207px;
            box-sizing: border-box;
        }

        &:last-child {
            border-right: 0;
        }

        /deep/.el-radio-group {
            width: 190px;
            padding: 0 16px;

            .el-radio {
                width: 180px;
                height: 40px;
                line-height: 40px;
                margin-right: 0;
                position: relative;

                .el-radio__input {
                    position: absolute;
                    left: -9999px;
                }

                .el-radio__label {
                    position: relative;
                    width: 180px;
                    display: inline-block;
                    padding-left: 15px;

                    .le-icon-tick {
                        position: absolute;
                        left: -2px;
                        height: 40px;
                        font-size: 12px;
                        opacity: 0;
                    }

                    .le-icon-arrow-right {
                        position: absolute;
                        right: -10px;
                        height: 40px;
                        font-size: 12px;
                    }
                }
            }

            .el-radio.is-checked {
                .le-icon-tick {
                    opacity: 1;
                }
            }
        }

    }

}