.advertising {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;

    .advertising-item-label {
        position: relative;
    }

    .advertising-item-radio {
        position: absolute;
        left: -99999px;
    }

    .advertising-item-radio:checked+.advertising-item-image {
        .advertising-item-tips {
            position: relative;
            z-index: 10;
            border: 1px solid #623CEB !important;
            color: #623CEB;
        }

        .el-image {
            position: relative;
            z-index: 10;
            box-sizing: border-box;
            border: 1px solid #623CEB !important;
        }
    }


    .advertising-item-1 {
        position: relative;
        text-align: center;
        font-weight: 400;
        color: #8C8C8C;
        width: 325px;

        .advertising-item-tips {
            width: 325px;
            height: 325px;
            line-height: 325px;
            background: #F7F5FE;
            border: 1px solid #DCDFE6;
        }

        .el-image {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            border: 1px solid #623CEB !important;
        }
    }

    .advertising-item-2 {
        position: relative;
        width: 326px;
        display: flex;

        .advertising-item-image {
            flex: 1 1 auto;
            width: 163px;

            &:first-child .advertising-item-tips {
                border-right: 0;
            }

            .el-image {
                width: 100%;
                height: auto;
            }

        }

        .advertising-item-tips {
            box-sizing: border-box;
            padding: 60px 50px;
            width: 163px;
            height: 163px;
            background: #F7F5FE;
            text-align: center;
            border: 1px solid #DCDFE6;
            color: #8C8C8C;
        }
    }

    .advertising-item-3 {
        position: relative;
        width: 324px;
        display: flex;

        .advertising-item-label:last-child {
            .advertising-item-tips {
                border-right: 1px solid #DCDFE6;
            }
        }

        .advertising-item-image {
            flex: 1 1 1;
            width: 108px;

            .el-image {
                width: 100%;
                height: auto;
            }

        }

        .advertising-item-tips {
            box-sizing: border-box;
            padding: 35px 20px;
            width: 108px;
            height: 108px;
            background: #F7F5FE;
            text-align: center;
            border: 1px solid #DCDFE6;
            border-right: 1px solid #F7F5FE;
            color: #8C8C8C;
        }
    }

    .advertising-item-4 {
        position: relative;
        width: 324px;
        height: 163px;

        .advertising-item-image {
            position: absolute;
            width: 100%;
            height: 100%;

            .el-image {
                width: 100%;
                height: 100%;
            }

        }

        .advertising-item-tips {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            background: #F7F5FE;
            text-align: center;
            border: 1px solid #DCDFE6;
            color: #8C8C8C;
            display: flex;
            flex-direction: column;
            /*元素的排列方向为垂直*/
            justify-content: center;
            /*水平居中对齐*/
            align-items: center;
            /*垂直居中对齐*/
        }
    }

    .advertising-item-5 {
        position: relative;
        width: 324px;
        display: flex;

        .advertising-item-label:last-child {
            .advertising-item-tips {
                border-right: 1px solid #DCDFE6;
            }
        }

        .advertising-item-image {
            flex: 1 1 1 1;
            width: 81px;



            .el-image {
                width: 100%;
                height: auto;
            }

        }

        .advertising-item-tips {
            box-sizing: border-box;
            padding: 25px 5px;
            width: 81px;
            height: 81px;
            background: #F7F5FE;
            text-align: center;
            border: 1px solid #DCDFE6;
            border-right: 1px solid #F7F5FE;
            color: #8C8C8C;
        }
    }
}