.colour {
    position: relative;
    width: 100%;
    height: 28px;

    .colour-input {
        position: absolute;
        display: inline-block;
        width: 100px;
        height: 32px;
        line-height: 32px;
        left: 40px;

        .el-button {
            line-height: 32px
        }
    }

    .colour-reset {
        position: absolute;
        display: inline-block;
        left: 148px;
        color: #623CEB;
        font-weight: 400;
        font-size: 14px;
    }
}