.noselect {

    -webkit-touch-callout: none;
    /* iOS Safari */

    -webkit-user-select: none;
    /* Chrome/Safari/Opera */

    -khtml-user-select: none;
    /* Konqueror */

    -moz-user-select: none;
    /* Firefox */

    -ms-user-select: none;
    /* Internet Explorer/Edge */

    user-select: none;
    /* Non-prefixed version, currently*/


}


.main {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    .el-container {
        height: 100%;
        width: 100%;

    }

    .el-header {
        .noselect;
        position: relative;
        background: #FFFFFF;
        border: 1px solid #DCDFE6;

        .layout-logo {
            position: absolute;
            left: 32px;
            top: 14px;

            img {
                width: 33px;
                height: 36px;
            }
        }

        .layout-back {
            position: absolute;
            left: 78px;
            top: 0;
            height: 63px;
            color: rgba(0, 0, 0, .85);
            font-weight: 400;
            cursor: pointer;

            ul {
                list-style-type: none;
                height: 63px;
                padding: 0;
                margin: 0;

                li {
                    float: left;
                    padding: 0 8px;
                    line-height: 63px;

                    span {
                        i {
                            padding: 0 9px;
                        }

                        font-size: 14px;
                        font-weight: 400;

                    }

                    .le-icon-editor {
                        color: rgba(187, 191, 200, 1);
                    }
                }
            }
        }
    }

    .main-aside {
        border-bottom: 1px solid #DCDFE6;
    }


    .el-main {
        background: #f3f5f7;
        display: flex;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .main-aside {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        padding-top: 24px;
        box-sizing: border-box;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                margin: 0;
                padding: 0;
            }

            a {
                display: block;
                width: 96px;
                height: 72px;
                text-align: center;
                color: #CCCCCC;
                padding-top: 16px;

                .le-icon {
                    font-size: 22px;
                }

                span {
                    display: block;
                    line-height: 30px;

                    font-size: 12px;
                    font-weight: 400;
                }

            }

            a:hover,
            .active {
                color: #623CEB;
                background: #EFEBFD;
            }


        }
    }

}