.matrix {
    width: 336px;
    height: 336px;
    position: relative;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &_cube {
        position: relative;
        float: left;
        color: #D9D9D9;
        // cursor: pointer;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background: #FBFBFB;
        border: 1px solid #DCDFE6;
        font-weight: 200;
        font-size: 32px;
    }

    .selected-rubik-img {
        object-fit: cover;
    }

    .selected-rubik-cube {
        position: relative;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 400;
        color: #623CEB;
        text-align: center;

        .le-icon {
            position: absolute;
            font-size: 14px;
            color: #B1B1B1;
            right: -8px;
            top: -8px;
            height: 16px;
            width:16px;
            line-height: 16px;
            display: none;
            cursor: pointer;
            z-index: 1;
        }

        &:hover {
            .le-icon {
                z-index: 50;
                display: block;
            }
        }
    }

    .selected {
        background: #F7F5FE;
    }
}