.banner {
    box-sizing: content-box;

    .corner {
        padding: 32px;

        .banner-item-cover {
            box-sizing: content-box;
            -webkit-appearance: none;
            -webkit-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
            -moz-border-radius: 16px;
            border-radius: 16px;
            overflow: hidden;
        }
    }

    .banner-item-image {
        width: 100%;
        height: 100%;
    }

    .banner-item-photo {
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
    }

}